<aside class="profile-card">
    <header style="padding: 20px;">
        <!-- here’s the avatar -->
        <a target="_blank" href="#">
            <img src="../../assets/amir.jpeg.jpeg" class="hoverZoomLink">
        </a>

        <!-- the username -->
        <h1>
            Amir mohammad heydari
        </h1>

        <!-- and role or location -->
        <h2>
            frontend angular
        </h2>

    </header>

    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">

        <p>
            hi this is my simple site
        </p>

    </div>

    <!-- some social links to show off -->
    <ul class="profile-social-links">
        <li>

            <a><i></i></a>

        </li>
        <li>
            <a href="/">
                <i style="font-size: 25px;" class="fab fa-twitter"></i>
            </a>
        </li>
        <li>

            <a href="/"><i style="font-size: 25px;" class="fab fa-instagram"></i></a>

        </li>
        <li>

            <a><i></i></a>

        </li>

    </ul>
</aside>
