<div class="pic">


    <div class="login-box">
        <h1>Register</h1>
        <div class="textbox">
            <i class="fas fa-envelope-square"></i>
            <input type="text" placeholder="Email">
        </div>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username">
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password">
        </div>

        <input type="button" class="btn" value="Sign up">
        <input routerLink="/login" type="button" class="btn" value="if u already registred go to login">
    </div>
</div>